* {
    
    margin: 0;
    font-family: 'STIX Two Math';
    
    }
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

header{
    background: #3526E0;
    color: white;
    padding: 25px 0;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav a {
    margin-right: 10%;
    font-style: bold;
    color: white;
    text-decoration: none;
}

#lastlink {
    margin-right: 3%;
}

nav a:hover {
    cursor: pointer;
    color: rgb(201, 212, 207);
}
.fee  {
    display: flex;
    /* height: auto;
    width: auto; */
    max-width: 900px;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin:auto;
    /* height: 100vh; */
}

/* table {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

table, th, td {
    border: 1px solid #3526E0;
    
    border-collapse: collapse;
    text-align: center;
    padding: 4.5%;
    
  }

table th {
    
    background-color: #3526E0;
    color: white;
  }

table tr:nth-child(odd) {
   background-color: 	#ebe9fc;
  }

caption {
    color: #3526E0;
    font-style: bold;
    font-size: 220%;
    padding: 6%;
}

.contect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    /* height: 100vh; */
}

form {
    padding: 4%;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

form input{
    /* display: inline-block; */
    padding: 2%;
    width: 60%;
    
}


#callback-header {
     color: #3526E0;
     font-style: bold;
     font-size: 200%;
     padding:2%;
}

#submit-button {
    background-color: #3526E0;
    color: white;
    border: 2px solid #3526E0;
    border-radius: 8px;
    margin-top: 4%;
    padding: 2%;
    font-size: 20px;

}

footer{
    display: flex;
    height: auto;
    background: #3526E0;
    color: white;
    padding: 25px 0;
    margin-top: 10%;
    justify-content: center;
    
}